@charset "UTF-8";
/*General Headings*/
h1,h2,h3,h4,h5,h6 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, "sans-serif";
	font-weight: 400;
}
h1 {
	Font-family: changa-one;
	font-style: italic;
	font-size: 60px;
	color: #000000;
}
h2 {
	font-weight:bold;
	font-size: 25px;
	color: #000000;
}
h3 {
	font-size: 25px;
	color: #000000;
}
h4 {
	font-weight: normal;
	font-size: 20px;
	alignment-baseline: top;
	color: #000000;
	line-height: 20px;
}
/*Nav Bar Elements Fixed Position and in Front*/
.nav{
	z-index:100;
}
#company-name{
	text-align-last: left;
	Font-family: changa-one;
	font-style: italic;
	font-size: 60px;
	color: #000000;
	position: fixed;
	height: 42px;
	left: 49px;
	top: 30px;
	font-weight: normal;
	line-height: 42px;
	text-align: right;
}
#shop-link{
	position: fixed;
	width: 53px;
	height: 41px;
	left: 937px;
	top: 29px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, "sans-serif";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 41px;
	color: #000000;
	display: flex;
	align-items: center;
}
#help-link{
	position: fixed;
	width: 48px;
	height: 41px;
	left: 1235px;
	top: 30px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, "sans-serif";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 41px;
	display: flex;
	align-items: center;
}
#cart-link{
	position: fixed;
	width: 44px;
	height: 41px;
	left: 1317px;
	top: 30px;
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, "sans-serif";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 41px;
	display: flex;
	align-items: center;
	color: #000000;
}
#search-bar{
	position: fixed;
	width: 177px;
	height: 33px;
	left: 1024px;
	top: 35px;
}
/*Home Page Elements*/
#about-us{
	position: absolute;
	width: 95px;
	height: 29px;
	left: 575px;
	top: 772px;
	font-size: 25px;
	line-height: 41px;
}
  #front-text{
	position: absolute;
	width: 674px;
	height: 57px;
	left: 700px;
	top: 772px;
  }
#clicky-round{
	position: absolute;
	width: 1325px;
	height: 625px;
	left: 50px;
	top: 125px;
}
/*Tabel Design for Shop*/
#sideblock {
	position: fixed;
	display:inline-grid;
	left: 53px;
	top: 166px;
	text-align: left;
}
#mainblock {
	display: grid;
	position: absolute;
	grid-auto-columns: 315px;
	grid-auto-rows: 553px;
	left: 350px;
	top: 125px;
}
#back {
	position: fixed;
	width: 245px;
	height: 27px;
	left: 50px;
	top: 103px;
}
/*Footer Elements Home Page*/
#footer1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 102px;
	z-index: -1;
}

  #contact-link{
	position: absolute;
	left: 53px;
	top: 882.36px;
	color: #F0F0F0 !important;
	font-size: 15px !important;
}
  #careers-link{
	position: absolute;
	width: 49px;
	height: 25.76px;
	left: 53px;
	top: 913.27px;
	font-size: 15px !important;
	color: #F0F0F0 !important;
}
div#Footer {
  width: 100%;
  height: 102px;
  padding: 0px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background-color: Black;
  color: #00000;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
